.news-image {
    width: 25%;
    aspect-ratio: 9/6;
}

/* .news {
    margin-bottom: 40px;
} */

.news .title {
    margin-top: 50px;
}

.card-main {
    padding-right: 10px!important;
}

.row-main {
    display: flex;
}