:root {
  --cor-fundo-principal: white;
  --cor-texto-principal: black;
  --cor-primaria-100: #fddddc;
  --cor-primaria-200: #faa6a4;
  --cor-primaria-300: #f96661;
  --cor-primaria-400: #d92b1e;
  --cor-primaria-500: #9a1b12;
  --cor-borda: lightgray;
  --arredondamento-borda: 12px;
  --borda-padrao: solid 1px var(--cor-borda);
  --tipo-fonte: "Inter", sans-serif;
  --tamanho-fonte: 20px;
  --tamanho-fonte-grande: 25px;
  --tamanho-fonte-gigante: 40px;
  --espacamento-padrao: 20px;
}

.App {
  text-align: center;
}

.header {
  height: 118px;
  width: 100%;
  position: fixed;
  background-color: var(--cor-fundo-principal);
  z-index: 10;
  /* border-bottom: var(--borda-padrao); */
}

.header p {
  margin: 0;
}

.row,
.row-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.row-main .column,
.row-header .column {
  width: 87.5%;
  height: 100%;
}

.row-main .top-header,
.row-header .top-header {
  height: 50%;
  width: 82.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row-main .bottom-header,
.row-header .bottom-header {
  height: 50%;
}

.row-main .start-header,
.row-header .start-header {
  width: 298px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 37px 0 33px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-main .navbar-menu,
.row-header .navbar-menu {
  /* width: 75%; */
  width: 100%;
  height: 118px;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--cor-primaria-500);
}

.row-main .column-main {
  width: 75%;
}

.row-main .navbar-menu .icon,
.row-header .navbar-menu .icon {
  width: 20px;
  height: 20px;
}

.navbar-menu a {
  padding: 10px;
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--cor-texto-principal);
}

.navbar-menu div {
  width: 100px;
  color: #fff;
  text-align: center;
  font-family: var(--tipo-fonte);
  font-size: var(--tamanho-fonte);
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.22px;
}

.navbar-menu div:hover,
.navbar-menu .active {
  font-weight: 700;
}

.btn.btn-primary {
  padding: 5px 40px;
  width: 150px;
}

.container-carousel {
  width: 100%;
  padding: 0 !important;
  margin-bottom: 42px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input,
.footer .form-footer input {
  padding: 5px 10px;
}

.main {
  display: flex;
  width: 100%;
  min-height: 83.5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-about {
  width: 60%;
  margin-right: 79px;
}

.home-news {
  width: 40%;
}

.top-spacing {
  padding-top: 118px;
}

.main-title {
  color: #000;
  font-family: var(--tipo-fonte);
  font-size: var(--tamanho-fonte-gigante);
  font-weight: 700;
  line-height: 150%; /* 60px */
  letter-spacing: -0.44px;
}

.main-text {
  color: #000;
  font-family: var(--tipo-fonte);
  font-size: var(--tamanho-fonte);
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.22px;
}

/* .top-spacing-home {
  padding-top: 118px;
} */

.footer {
  border-top: var(--borda-padrao);
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--espacamento-padrao) 0 0;
  flex-direction: column;
  background-color: var(--cor-primaria-300);
 
}
.footer-top {
  display: flex;
  gap: 70px;
  padding: var(--espacamento-padrao) 0 0;
  align-items: center;
  justify-content: center; 
}
.footer img.logo {
  width: 200px;  
  height: auto;
  margin-bottom: 10px;
}
.footer .form-footer {
  margin-top: 15px;
  width: 50%;
  height: 100px;
  display: flex;
  border: var(--borda-padrao);
}

.footer p {
  display: flex;
  font-size: medium;
  text-align: center;
  padding-left: 0;  
  margin: 0;
  
  
}

.footer .form-footer input {
  margin: var(--espacamento-padrao);
  height: 18px;
}

.footer-hr {
  border: none;
  height: 2px;
  background-color: #000;
  opacity: 0.3;
  margin: 0 60px;
}
.footer-section-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  
  
}
.footer-social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.footer a { 
text-decoration: none;
color: black;
margin-bottom: 10px;
}
a{
  display: inline-block; /* importante para o transform funcionar */
  transition: transform 0.3s ease;
}
a:hover{
   transform: translateY(-5px);
}
.botao-noticias {
  cursor: pointer; 
  background-color: var(--cor-primaria-400);
  border: solid 1px var(--cor-primaria-500);
  border-radius: 8px;
  color: white;
  text-align: right;
  position: relative;
  padding: 5px 15px;
  bottom: 10px;
  margin-left: 56%;
}
.card-main {
  border: var(--borda-padrao);
  padding: 20px;
  border-radius: var(--arredondamento-borda);
}

.home .card-body {
  width: 404px;
  height: 104px;
  border-radius: 0 0 10px 10px;
  background: var(--cor-primaria-200);
  padding: 7px 3px 23px 3px;
  margin-top: -54px;
}

.home .card {
  border: unset;
  border-radius: unset;
}

.card-title {
  text-align: center;
  font-family: var(--tipo-fonte);
  font-size: var(--tamanho-fonte-grande);
  font-weight: 600;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.275px;
}

.home .card-img-top {
  width: 404px;
  height: 246px;
  aspect-ratio: 202/123;
}

.top-header .logout {
  width: auto;
}

input.inputPassword {
  width: Calc(100% - 30px);
  border: 0;
  height: 100%;
}

button.showPassword {
  width: 30px;
  height: 100%;
  background: white;
  border: 0;
}

.card-inside {
  max-height: 500px;
  overflow-y: auto;
}

.video-index {
  border-radius: var(--arredondamento-borda);
  margin-top: var(--espacamento-padrao);
  margin-top: 34%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

