:root {
  --cor-fundo-principal: white;
  --cor-texto-principal: black;
  --cor-primaria-100: #FDDDDC;
  --cor-primaria-200: #FAA6A4;
  --cor-primaria-300: #F96661;
  --cor-primaria-400: #D92B1E;
  --cor-primaria-500: #9A1B12;
  --cor-borda: lightgray;
  --arredondamento-borda: 12px;
  --borda-padrao: solid 1px var(--cor-borda);
  --tipo-fonte: 'Inter', sans-serif;
  --tamanho-fonte: 14px;
  --espacamento-padrao: 20px;
}

.App {
  text-align: center;
}

.header {
  height: 118px;
  width: 100%;
  position: fixed;
  background-color: var(--cor-fundo-principal);
  z-index: 10;
  /* border-bottom: var(--borda-padrao); */
}

.header p {
  margin: 0;
}

.row,
.row-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.row-main .column,
.row-header .column {
  width: 87.5%;
  height: 100%;
}

.row-main .top-header,
.row-header .top-header {
  height: 50%;
  width: 82.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row-main .bottom-header,
.row-header .bottom-header {
  height: 50%;
}

.row-main .start-header,
.row-header .start-header {
  width: 298px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 37px 0 33px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-main .navbar-menu,
.row-header .navbar-menu {
  /* width: 75%; */
  width: 100%;
  height: 118px;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--cor-primaria-500);
}

.row-main .column-main {
  width: 75%;
}

.row-main .navbar-menu .icon,
.row-header .navbar-menu .icon {
  width: 20px;
  height: 20px;
}

.navbar-menu a {
  padding: 10px;
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--cor-texto-principal)
}

.navbar-menu div {
  width: 100px;
  color: #FFF;
  text-align: center;
  font-family: var(--tipo-fonte);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.22px;
}

.navbar-menu div:hover, .navbar-menu .active {
  font-weight: 700;
}

.btn.btn-primary {
  padding: 5px 40px;
  width: 150px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input,
.footer .form-footer input {
  padding: 5px 10px;
}

.home {
  display: flex;
  width: 100%;
  min-height: 83.5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-spacing {
  padding-top: 120px;
}

.top-spacing-home {
  padding-top: 170px;
}

.footer {
  border-top: var(--borda-padrao);
  width: 100%;
  height: 150px;
  display: flex;
  gap: 25%;
  padding: var(--espacamento-padrao) 0 0;
  flex-direction: row;
}

.footer .form-footer {
  margin-top: 15px;
  width: 50%;
  height: 100px;
  display: flex;
  border: var(--borda-padrao);
}

.footer .title-footer {
  width: fit-content;
  padding-left: 5%;
}

.footer .form-footer input {
  margin: var(--espacamento-padrao);
  height: 18px;
}

.card-main {
  border: var(--borda-padrao);
  padding: 20px;
  border-radius: var(--arredondamento-borda);
}

.top-header .logout {
  width: auto;

}

input.inputPassword {
  width: Calc(100% - 30px);
  border: 0;
  height: 100%;
}

button.showPassword {
  width: 30px;
  height: 100%;
  background: white;
  border: 0;
}

.card-inside {
  max-height: 500px;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}