:root {
  --cor-fundo-principal: white;
  --cor-texto-principal: black;
  --cor-borda: lightgray;
  --arredondamento-borda: 12px;
  --borda-padrao: solid 1px var(--cor-borda);
  --tamanho-fonte: 14px;
  --espacamento-padrao: 20px;
}

.App {
  text-align: center;
}

.header {
  height: 150px;
  width: 100%;
  position: fixed;
  background-color: var(--cor-fundo-principal);
  z-index: 10;
  border-bottom: var(--borda-padrao);
}

.row, .row-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.row-main .column, .row-header .column {
  width: 87.5%;
  height: 100%;
}

.row-main .top-header, .row-header .top-header {
  height: 50%;
  width: 82.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row-main .bottom-header, .row-header .bottom-header {
  height: 50%;
}

.row-main .start-header, .row-header .start-header {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-main .logo, .row-header .logo {
  border: var(--borda-padrao);
  width: 100px;
  height: 120px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-main .navbar-menu, .row-header .navbar-menu, .row-main .column-main {
  width: 75%;
}

.row-main .navbar-menu .icon, .row-header .navbar-menu .icon {
  width: 20px;
  height: 20px;
}

.navbar-menu a {
  padding: 10px;
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--borda-padrao);
  text-decoration: none;
  color: var(--cor-texto-principal)
}

.navbar-menu div {
  width: 100px;
}

button.btn.btn-primary {
  padding: 5px 40px;
  width: 150px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input,
.footer .form-footer input {
  padding: 5px 10px;
}

.home {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-spacing {
  padding-top: 120px;
}

.top-spacing-home {
  padding-top: 170px;
}

.footer {
  border-top: var(--borda-padrao);
  width: 100%;
  height: 150px;
  display: flex;
  gap: 25%;
  padding: var(--espacamento-padrao) 0 0;
  flex-direction: row;
}

.footer .form-footer {
  margin-top: 15px;
  width: 50%;
  height: 100px;
  display: flex;
  border: var(--borda-padrao);
}

.footer .title-footer {
  width: fit-content;
  padding-left: 5%;
}

.footer .form-footer input {
  margin: var(--espacamento-padrao);
  height: 18px;
}

.card-main {
  border: var(--borda-padrao);
  padding: 15px;
  margin: 10px 5%;
  border-radius: var(--arredondamento-borda);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}