.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input {
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 20px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.options {
    display: flex;
    gap: 20px;  
    margin-top: 10px;
}

.loginContainer {
    min-height: 82vh !important;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.box {
  width: 500px;
  min-height: 300px;
  padding-top: 50px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  border-radius: 10%;
}

.reactLogo {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}